# Python

*.__pycache__
*.py[code]
*.pyo
*.pyd

# Environnements virtuels

venv/
.venv/
env/
ENV/
.env 

# Jupiter

.ipynb_checkpoints/

# Variables d'environnement

.env.*
.env

# Logs

*.log 

# Données temporaires

data/temp/
data/tmp/

# Fichiers Excel temporaires

~$*.xlsx
~$*.xls 
